# Dependencies
node_modules/
.pnp
.pnp.js

# Expo / React Native build outputs
.expo/
dist/
web-build/
*.orig.*

# Logs & Environment
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS / Editor files
.DS_Store
*.pem
.vscode/
.idea/